<div class="text-center">
  <h1 class="display-4">Welcome to the Inventory Management App</h1>
  <p class="lead">This Project primarly focus on CURD [CREATE,UPDATE,READ,DELETE] 
    with psql
  </p>
  <a href="/categories" class="btn btn-primary me-2">View Categories</a>
  <a href="/items" class="btn btn-secondary">View Items</a>
</div>
